<!DOCTYPE html>
<html lang="en">

<head>
  {{> head defaultPageTitle='Untitled'}}
</head>

<body class="article{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
  {{> header}}

  <div class="container">
    <article class="doc">
      {{{page.contents}}}
    </article>

    <section>
      <h1>Boards</h1>

      <div class="card-grid">
        {{#each page.attributes.boards}}
        {{#with (lookup @root.site.components this) as | comp |}}
        {{> card card-title=comp.latest.title card-image=(relativize (concat comp.latest.url " /../_images/logo.webp"))
        card-desc=comp.asciidoc.attributes.description card-url=(relativize comp.latest.url)}}
        {{/with}}
        {{/each}}
      </div>
    </section>

    <section>
      <h1>Tools</h1>

      <div class="card-grid">
        {{#each page.attributes.tools}}
        {{#with (lookup @root.site.components this) as | comp |}}
        {{> card card-title=comp.latest.title card-desc=comp.asciidoc.attributes.description card-url=(relativize
        comp.latest.url)}}
        {{/with}}
        {{/each}}
      </div>
    </section>

    <section>
      <h1>Projects</h1>

      <div class="card-grid">
        {{#each page.attributes.projects}}
        {{#with (lookup @root.site.components this) as | comp |}}
        {{> card card-title=comp.latest.title card-desc=comp.asciidoc.attributes.description card-url=(relativize
        comp.latest.url)}}
        {{/with}}
        {{/each}}
      </div>
    </section>
  </div>

  {{> footer}}
</body>

</html>
