on:
  push:
    branches: [ "main" ]
    tags:
      - v*
  pull_request:

jobs:
  bundle:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6

      - name: Install dependencies
        run: npm install --quiet --no-progress

      - name: Build bundle
        run: npx gulp bundle

      - name: Upload bundle artifact
        uses: actions/upload-artifact@v6
        if: github.event_name == 'pull_request'
        with:
          name: ui-bundle
          path: public/_/*

      - name: Pre-Release
        uses: softprops/action-gh-release@v2
        if: github.event_name != 'pull_request' && startsWith(github.ref, 'refs/tags/') == false
        with:
          prerelease: true
          name: Continuous Release
          tag_name: continuous-release
          files: build/ui-bundle.zip

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          generate_release_notes: true
          files: build/ui-bundle.zip
